main {
    background-color: #1d1245;
}
label {
    color: #c1b8e0;
}
h1 {
    color: #ebe9f2;
    font-size: 36px;
    font-weight: 700;
    font-family: 'Andale Mon', monospace;
}
button {
    background-color: #674ebf;
    color:aliceblue;
} 
input, textarea, select {
    background-color: #896eeb;
    color:antiquewhite;
}
input:invalid {
    background: #d81212;
}
input:valid {
    background: #0b7808;
}
/* input[type="email"] {
    background: #b226a1;
} */
